* {
    box-sizing: border-box;
}

/* CV */
body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    background: #e6e4e4;
    button,
    input {
        font-size: inherit;
        font-family: inherit;
    }
}

.cv {
    max-width: 750px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 30px 80px;
}

.header {
    line-height: 0.5;
    text-align: center;
    padding-bottom: 10px;
}

.header h1 {
    font-size: 23px;
    font-weight: 700;
}

.header p {
    font-size: 14px;
}

.content h2 {
    padding-bottom: 5px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 2px solid #1b1717;
}

.heading-3 {
    margin-bottom: 0;
    text-align: justify;
}

.heading-3 span {
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
}

.full-width {
    display: inline-block;
    width: 100%;
}

.h3-list-1 ul {
    margin-top: 0;
    padding-left: 30px;
    font-size: 14px;
    text-align: justify;
}

/* Menu */

.menu {
    text-align: center;
    padding: 0 50px;
    font-size: 0;
    background-color: #3e5cca;
}
.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    text-align: justify;
    display: inline-block;
    padding: 25px 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.menu .active a {
    color: black;
    background: white;
}

.menu .active-2 {
    display: flex;
    flex-direction: column;
}

/* Form */
.form {
    background-color: white;
    max-width: 500px;
    padding: 30px;
    margin: 20px auto;
    border-radius: 16px;

.register {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
}

.form label {
    font-size: 20px;
}

.form-label {
    margin: 12px 0 8px;
    margin-bottom: 2px;
    display: block;
    font-weight: 600;
}

.form-input {
    padding: 3px 5px;
    border: 2px solid grey;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.avatar-placeholder {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
}

.form-straight label {
    display: block;
}

.btn {
    display: inline-block;
    padding: 4px 16px;
    min-width: 150px;
    border-radius: 5px;
    border: none;
    background: #f65808;
    text-align: center;
    color: white;
    text-decoration: none;
}

.submit-btn {
    width: 100%;
}

.form-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}
